<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="The Original Special Sweets. SBY Dessert Centre">
  <meta name="keywords"
    content="rasgulla, spicy samosa,paneer,SBY Dessert Centre">

  <link rel="shortcut icon" href="images/sbyFavicon.ico" type="image/x-icon">
  <title>The Special Sweets | SBY Dessert Centre</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body onload="loadFn()">
<div id="loader"> 
  </div>
  <div class="main">
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="/" id="iconLogo">SBYDC</a>
      <a class="navbar-brand" id="icontextMobile" href="/">SBY DESSERT CENTRE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav mr-auto">

        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link nav-link2" href="#menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order">Order Now</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link2" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link2" href="#about">About Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Banner section -->

    <div class="Banner">

      <img id="TBWLogo" src="images/sbyFavicon2.png" alt="">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active"> <img class="d-block w-100" src="images/sbydc3.jpg" alt="Banner00"></div>
          <div class="carousel-item"> <img class="d-block w-100" src="images/sbydc2.jpg" alt="Banner01"> </div>
          <div class="carousel-item"> <img class="d-block w-100" src="images/sbydc1.jpg" alt="Banner02"> </div>
          <div class="carousel-item"> <img class="d-block w-100" src="images/sbydc4.jpg" alt="Banner03"> </div>
        </div>
      </div>

    </div>


    <!-- Menu section  -->
    


      <div id="menu" class="tbwContentCPage1">
      <div class="rightBgImg">
        <div class="menutext">
          <p class="menuTextHead">SBY Sweets Menu</p>
          <p>SBY Rasmalai ...................................250</p>
          <p>SBY Guljamun ..................................280</p>
          <p>SBY Rasgulla ....................................270</p>
          <p>SBY Dhoi Jalebi .................................90</p>
          <p>SBY Simple Jalebi .............................65</p>
        </div>

        <div class="menutext2">
          <p class="menuTextHead2">FREAKFAST</p>
          <p>Samosa Special ...............................10</p>
          <p>Special Tea ......................................12</p>
          <p>Normal Tea ........................................7</p>
          <p>Lemon Tea ........................................10</p>
          <p>Ginger Tea ........................................10</p>
          <p>Bread Pakoda ...................................12</p>
          <p>Pakaudi ............................................20</p>
        </div>



        <div class="menutext3">
          <p class="menuTextHead3">EXTRAS</p>
          <P>SBY Raita ........................................25</P>
          <p>SBY Tomato Sauce .........................15</p>
          <p>SBY Podina Sauce .........................25</p>
        </div>

        <!-- footer image -->
     

        <div class="menutext4" id="contact">
          <p class="menuTextHead3">CONTACT US</p>
          <div class="row">
            <div class="col">
              <p class="submenuHead">Send us an email</p>
              <p><a href="google.com" target="_blank">anilyadav@sbytechnocratesindia.com</a></p>
            </div>
            <div class="col">
              <p class="submenuHead">Call Us</p>
              <p>99 6092 2747</p>
            </div>
          </div>
        </div>

        <!-- footer image -->
      

        <div class="menutext3" id="about">
          <p class="menuTextHead3">ABOUT US</p>
          <img class="aboutImg" src="images/about.jpg" alt="">
          <p class="aboutText">SBY Dessert and savories SBY Dessert is Ballia's No. 1</p>
          <p class="aboutText">confectionery and cake manufacturer with its products <br>
           exported to over 20 villages around the Ballia.</p>
          <p class="aboutText"> They are dedicated to the art of producing innovative and <br> 
          delicious products for sweet lovers of all ages. <br>
          SBYDC products offer tantalizing experiences that sparks<br>
           the imagination in people who eat their candy.<br>
         Of course, this has been SBYDC's goal since their inception in 2022. <br>
            Today, SBYDC continues to make some of the best candy in India. <br>
            They also are a responsible business venture and contribute positively<br>
             to the society with their “Learn to bake” initiative to encourage<br>
              households to earn by starting their own small-scale businesses.<br>
               SBYDC products can be enjoyed by kids and adults alike,<br>
           and their products come in an array of flavors,<br>
           shapes and sizes.</p>
        </div>

        <!-- shareHeader -->
        <div class="shareHeader">
          <p class="shareHeadtext">Strong roots, flavourful sweets. <br>
            SBY Dessert</p>
        </div>

      </div>

      <!-- share link -->
      <div class="row shareLinkList" align="center">
        <div class="column">
          <a href="#insta"><img class="shareImg"
              id="instaShare" src="images/Social-InstRoll.png" alt=""></a>
        </div>
        <div class="column">
          <a href="#fb"><img class="shareImg"
              id="fbShare" src="images/Social-FbRoll.png" alt=""></a>
        </div>
        <!-- <div class="column">
          <img class="shareImg" id="YtShare" src="assets/Social-Yt.png" alt="">
        </div>
        <div class="column">
          <img class="shareImg" id="tShare" src="assets/Social-Tw.png" alt="">
        </div> -->
      </div>

      <!-- final div link -->

      <div class="finalDivLink">
        <p class="fDivLink"><a href="#faqs">FAQS</a></p>
        <p class="fDivLink"><a href="#terms">TERMS</a></p>
        <p class="fDivLink"><a href="#privacy">PRIVACY</a></p>
        <p class="fDivLink"><a href="#contact">CONTACT</a></p>
      </div>
    </div>
  </div>




  <!-- scrolling animation event -->
  <script>
    $(document).ready(function () {
      $("a.nav-link2").click(function (event) {
        event.preventDefault();
        $("html, body").animate({ scrollTop: $($(this).attr("href")).offset().top }, 500);
      });
      $(".fDivLink a").click(function (event) {
        event.preventDefault();
        $("html, body").animate({ scrollTop: $($(this).attr("href")).offset().top }, 500);
      });



    });

    $('#instaShare').hover(function () {
      $(this).attr('src', 'images/Social-InstRoll.png');
    }, function () {
      $(this).attr('src', 'images/Social-InstRoll.png');
    });

    $('#fbShare').hover(function () {
      $(this).attr('src', 'images/Social-FbRoll.png');
    }, function () {
      $(this).attr('src', 'images/Social-FbRoll.png');
    });
  </script>
  <script>
      var preloader=document.getElementById('loader');
      function loadFn()
      {
          preloader.style.display='none';
      }
      </script>
</body>

</html>
